<div class="container" style="margin-top: 1%;">

    <h1>Post a Job</h1>

    <label for="select">Category</label>
                        <select #cat class="form-control" id="select">
                          <option>Design</option>
                          <option>Programming</option>
                        </select>

    <div class="form-group">
        <input #company type="text" class="form-control" name="company" placeholder="Company" required>
    </div>
    
    <div class="form-group">
        <label >Type</label>     
        <div inline>
            <div margin-right>
            <label class="radio-inline">
                <input type="radio" value="full_time" name="type" [(ngModel)]="f_t">
                Full Time
            </label>

            <label class="radio-inline">
                    <input type="radio" value="part_time" name="type" [(ngModel)]="p_t">
                    Part Time
                </label>

                <label class="radio-inline">
                        <input type="radio" value="free" name="type" [(ngModel)]="f">
                        Freelance
                    </label>

        </div>

            
        </div>   
    </div>

    <div class="form-group">
        <textarea #desc type="text" class="form-control" name="description" placeholder="Description" required></textarea>
    </div>

    <div class="form-group">
        <input #add type="address" class="form-control" placeholder="Location" required />
    </div>

    <div class="form-group">
            <input #position type="text" #position class="form-control" placeholder="Position" required />
    </div>

    <div class="form-group">
        <input type="url" #url class="form-control" placeholder="URL" required />
    </div>

    <div class="form-group">
        <input type="submit" (click)="onSubmit(cat.value,url.value,url.value,desc.value,add.value,position.value,url.value)" class="btnSubmit" value="Post" />
    </div>

<!-- category, company, description, location, position, type, url?, logo? -->
</div>