<div class="container" style="margin-top: 1%;">

        <div *ngIf="auth.user | async; then authenticated else guest">
            
        </div>
        
   

    <div>

             <ng-template #guest>
                    <form class="form-inline my-3 my-lg-0" >
                            <div class="input-group"> 
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-primary" type="button" id="button-addon"><i class="fas fa-search"></i>
                                    Search</button>
          
                            </div>
                            <button class="btn btn-outline-primary" type="button" style="margin-left:20%" id="button-addon" (click)="toLogin()">SignIn</button>  
                            
                        </form>
                            
            </ng-template>
       
            
        <ng-template #authenticated >
                <div *ngIf="auth.user | async as user">
                    <p>{{user.accountType}}</p>

                    
                        <form class="form-inline my-3 my-lg-0" >
                                <div class="input-group"> 
                                       
                                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                                <button class="btn btn-primary" type="button" id="button-addon"><i class="fas fa-search"></i>
                                                    Search</button>
                                </div>
                                                
                                            
                                        <button class="btn btn-outline-primary" style="margin-left:51%" type="button"  id="button-addon" (click)="signOut()">SignOut</button>
                        
                                        <button *ngIf="user.accountType==='Poster'" class="btn btn-success" type="button" id="button-addon" style="margin-left: 20px" (click)="toPost()">
                                                <i class="fas fa-bullhorn"></i> Post a Job</button>
                                        
                                                <button *ngIf="user.accountType==='Administrator'" class="btn btn-secondary active" type="button" id="button-addon" style="margin-left: 20px" (click)="toPost()">
                                                        <i class="fas fa-cog"></i> </button>
                                       
                        </form>
                            
                       
                        <!-- <section>
                                    <h3>WIIIII, {{user.firstName}}</h3>
                                    <p>{{user.accountType}}</p>
                              
                        </section> -->
                        
                        
            </div>
            
                

        </ng-template>
       
      </div>

      <div *ngFor="let cat of cats">
            <h5 class="text-center" style="margin-top:5%"><i class="fas fa-briefcase"></i> {{cat}} </h5>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr i=0>
                        <th scope="col">Location</th>
                        <th scope="col">Position</th>
                        <th scope="col">Company</th>
                    </tr>
                </thead>
                
                <tbody *ngFor="let job of getCategoryList(cat) | slice:0:10" >
                        <tr>
                            <td>{{ job.payload.doc.data().location }}</td>
                            <td>{{ job.payload.doc.data().position }}</td>
                            <td>{{job.payload.doc.data().company}}
                                <span style="float:right" class="badge badge-pill badge-info"  (click)="toInfo(job)">More info</span>
                            </td>
                           
                         </tr>
                </tbody>  
            </table>
            <a href='alljobs/{{cat}}' style="float:right">View more</a>
        </div>

      
</div>